#slider{
	width: 100%;
	position:relative;

}
#images img{
	width: 100%;
}
#leftbtn{
	position: absolute;
	left: 1%;
    top: 47%;
}
#rightbtn{
	position: absolute;
	right: 1%;
    top: 47%;
}
