.arabic{
    .comapny-profile-bannerv2 .profile-c-v2 .profile-picture-v2 .action-bt-v2{
        left: 20px;
        right: inherit;
    }
    .edit .social-m-v2 input{
        padding-left: inherit!important;
        padding-right: 40px!important;
    }
    .edit .s-v2{
        right: 0px;
        left: inherit;
    }
    .video-edit-v2{
        float: left!important;
    }
    .comapny-profile-bannerv2 .banner-c-v2 #myBtn i{
        float: right;
    }
    .company_contact_detail_v2 .contact_details_v2 .two-box-v2{
        float: right;
    }
    .company_contact_detail_v2 .contact_details_v2 h2 a{
        float: left;
    }
    .company_contact_detail_v2 .contact_details_v2{
        margin-right: inherit;
        margin-left: 5px;
    }
    .edit_contact_details_v2 .two-box-v2 i {
        padding-left: inherit;
        padding-right: 5px;
        float: right;
    }

    .premium .bt-group-v5 a{
        float: right;
        margin-right: inherit;
        margin-left: 5px!important;
    }
    .edit-postion-v2{
        right: inherit;
        left: 20px;
    }
    .company_adtional_detail_v2 .col-lg-3 span{
        text-align: right;
    }
    .company_adtional_detail_v2 .m-f-v2 .m-v2{
        float: right;
    }
    .about-company-v2 h2 a{
        float: left;
    }
    .new-hire-v2 .new-hire-graph-v2{
        margin-right: inherit;
        margin-left: 5px;
    }
    .culture-v2 h2 a{
        float: left;
    }
    .upload-v2 .preview-image-v2{
        float: right;
    }
    .team_v2 h2 a{
        float: left;
    }
    .our-active-jobs .stats-side-v2 ul li{
        float: right;
    }
    .fb-post {
        width: 500px!important;
    }
    .banner-c-v2  video{
        float: left!important;
        width: 100%;
    }
}