@import '/../../../../styles/sass/base/_variables.scss';
.error-feild{
    border: 1px solid #e74c3c !important;
}
select{
    padding: 0px 12px;
}
input[type=checkbox], input[type=radio]{
    margin: -10px 0 0 -20px;;
}
// end reset


h1{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}


// Error
.error-feild{
    border: 1px solid #e74c3c;
}


// start register-form-container
.fal-register-form-container{
    min-height: auto;
    max-width: 701px;
    margin: 0px auto;
    form{
        display: block;
        width: 100%;
        float: left;
        margin-top: 80px;
    }
    h4{
        text-align: left;
        display: block;
        padding-bottom: 10px;
        text-transform: capitalize;
        font-size: 14px;
        color: $secondarycolor;
        margin:0px;
        margin-top: 0px;
        &:after{
            content: " *";
            color: red;
            font-weight: bold;
        }
        span{
            font-size: 12px;
            font-weight: normal
        }
    }
    .fal-register-btn-group{
        margin-top: 40px;
        float: left;
        width: 100%;
        border-top: 1px solid $light-border;
        padding-top: 20px;

        .fal-btn-primary{
            float: right;
            background: $button-primary;
            // border-radius: $btn-border-radius;
            height: $button-height;
            text-align: center;
            color: $white;
            width: 120px;
            border:none;
            margin-left: 5px;
            &:hover{
                background: $hover-bt-primary;
            }
            a{
                color: $white;
            }
        }
        .fal-btn-secondary{
            float: right;
            background: $white;
            height: $button-height;
            text-align: center;
            color: $primarycolor;
            width: 120px;
            border:solid 1px $primarycolor;
            margin-left: 5px;
            // border-radius: $btn-border-radius;
            &:hover{
                background: $primarycolor;
                color: $white;
            }
            a{
                color: $white;
            }
        }
    }
    .new-upload .btn-default{
        background-color: $button-primary;
        color: $white;
        &:hover{
            background-color: $hover-bt-primary;
        }
    }
    .fal-divider{
        border-top: 1px solid $light-border;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    .fal-addmore{
        .help-txt{
            font-size: 12px !important;
            padding: 10px 0px;
            display: block;
        }
        .btn-addmore{
            width: 100%;
            height: 40px;
            color: $white;
            background: $button-primary;
            border: none;
            margin-bottom: 20px;
            font-weight: 600;
            // border-radius: $btn-border-radius;
            &:hover{
                background: $hover-bt-primary;
            }
        }
    }

    .cv_delete{
        width: 26px;
        height: 26px;
        background: #545455;
        display: block;
        text-align: center;
        border-radius: 50%;
        line-height: 26px;
        color: $white;
        margin-left: 10px;
        float: right;

    }


}

.highest_education{
    form{
        margin-top: 15px !important;
    }
}



// end register-form-container





// arbic style
// =====================================
.arabic{
    .fal-register-form-container{
        h4{
            text-align: right;
        }
        .fal-register-btn-group{
            .fal-btn-primary, .fal-btn-secondary{
                float: left;
                margin-right: 5px;
                margin-left: inherit;
            }
        }
    }
}




/* Respopnsive breakpoint */
// ============bigScreen===========
@media all and (max-width: 991px) {

}

// ============MediumScreen========
@media all and (max-width: 768px) {
    .fal-register-form-container{
        form{
            margin-top:20px;
        }
        .fal-register-btn-group{
            .fal-btn-primary, .fal-btn-secondary{
                width: 50%;
                margin-left: 0px;
                margin-right: 0px !important;
            }
        }
    }
}

// ============SmallScreen=========
@media all and (max-width: 480px) {

}
