<footer [class.arabic] = "accountService.isArabic()">
    <div class="container custom-flex-face2">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 coppyright-txt arabic-right-left">
            <span>{{fixedTextHash['copyright'][currLan]}}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <!-- <span [innerHTML]="fixedTextHash['powered_by_bloovo'][currLan]"></span> -->
            <span class="hrd-logo arabic-left-right">
                <img src="../../../assets/images/custom-images/ATS/footer-logo-white.svg">
            </span>
        </div>
    </div>
</footer>

