@import '../../../../styles/sass/base/_variables.scss';
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

h1, h2, h3, h4, h5, span, label, a, button, p{
    font-family: $primary-Fonts;
}

.arabic{
    h1, h2, h3, h4, h5, span, label, a, button, p, input, .cmpny-txt{
       font-family: $arabic-primary-Fonts!important;
    }
}
.base-padding{
    padding: 10px!important;
    border:1px solid $light-border;
}

.smalltxt{
    font-size: $normal-font;
    line-height: 30px;
    color: $secondarycolor!important;
    span{
        color: $primarycolor!important;
    }
}
.two-line{
    font-size: $big-font!important;
    span{
        display: block;
        font-size: $normal-font!important;
    }
}

    .jobapp-btm-10{ margin-bottom:10px;}
    .jobapp-top-10{ margin-top:10px; }
    .light{ font-size:$x-small-font}
    .right-bx{ 
        width:289px!important;
        button{
            float: right;
        }
        .advance-filter{
            text-align: right;
            width: 100%;
        }
    }
    .left-bx{ width: calc(100% - 289px);}
    .block{
        .block-title-2{
            h2{font-size:$normal-font}
            .btn-jobapplicant{ background:$secondarycolor;}
        }
    }
    .jobanalytics{ 
        float: left; width: 100%; border: 1px solid $light-border;
        padding:10px;
        h4{ color:$primarycolor; font-size:$small-font; font-weight: bold }
        .prograss-txt{ color:$secondarycolor; font-size:$x-small-font}
        .progress{ height:10px!important;box-shadow:none; border-radius: $border-radius;}
        .progress-bar-success{box-shadow:none;}
        .prograss-txt-per{font-size:$font-10;  position: absolute; right: 10px; margin-top: 14px;}
        .job-analytics-cntry{
            .progress{ background-color:#E8F7FF;}
            .progress-bar-success{background-color:#8DD8FF}
            .prograss-txt-per{ color:#3388B4}
        }
        .job-analytics-sector{
            .progress{ background-color:#F8FCFE;}
            .progress-bar-success{background-color:#D9EDFA}
            .prograss-txt-per{ color:#599BC6}
        }
        .job-analytics-education{
            .progress{ background-color:#FEF8ED;}
            .progress-bar-success{background-color:#FADCA7}
            .prograss-txt-per{ color:#A5792E}
        }
        .job-analytics-age{
            .progress{ background-color:#DBDFE3;}
            .progress-bar-success{background-color:#91A0AE}
            .prograss-txt-per{ color:#475A6E}
        }
        .job-analytics-nationality{
            .progress{ background-color:#DBF5F0;}
            .progress-bar-success{background-color:#84D9CC}
            .prograss-txt-per{ color:#2B8976}
        }
        .job-analytics-gender{
            .job-male{ margin-top:15px;
                .job-male-left{ float:left; width:32px;}
                .job-male-right{ 
                    float:right; width: calc(100% - 38px);
                    .progress{ background-color:#D1F6FE;}
                    .progress-bar-success{background-color:#1ACFF8}
                    .prograss-txt-per{ color:#008BAA}
                }
            }
            .job-female{ 
                margin-top:15px;
                .job-male-left{ float:left; width:25px;}
                .job-male-right{ 
                    float:right; width: calc(100% - 38px;);
                    .progress{ background-color:#FEE2E9;}
                    .progress-bar-success{background-color:#F97092}
                    .prograss-txt-per{ color:#A52242}
                }
            }

        }
    }

    .job-anlytics-info{
        .row-anly{
            padding: 10px;
            border:1px solid $light-border;
            float: left;
            width: 100%;
        }
        .col-lg-2{
            width: 14.285%;
                .anly-blue{background:$more-light-bg!important;}
                .info{
                    background:$white; text-align: center;
                    // border: 1px solid $light-border;
                    h3{ font-size:14px; padding-top:20px; color:$secondarycolor; margin-top:0px; margin-bottom:2px;}
                    h2{font-size:$font-22; font-weight:bold; padding-top:0px; padding-bottom:20px; color:$primarycolor;}
                }
                .info:hover{ background:$more-light-bg }
        }
    }

    .bulk-fdb1{ margin-right:10px; }
    .bulk-fdb1:hover{ background-color:$primarycolor!important; color: $white;}
    .bulk-btn:hover{ background-color:$primarycolor!important; color: $white;}
    .bulk-btn{background:$white!important; overflow: hidden; color: $primarycolor; border:1px solid $light-border!important; min-height: 40px!important; padding-top:5px; border-radius: $border-radius }
    .sugested-btn{background:$white!important; overflow: hidden; color: $primarycolor; border:1px solid $light-border!important; min-height: 40px;padding-top:5px;border-radius: $border-radius}
    .bulk-fdb-sort{ background:$white;min-height: 40px!important;padding-top:3px;margin-left:5px;width: calc(100% - 480px);
        .btn{ border:none!important}
    }
    .click-dropdown-sort{
        span{ padding-top:2px;}
    }
    .click-dropdown-sort .btn-input .btn.form-control .caret{ margin-top:0px!important }
    .feed-back-mg{ margin-bottom:10px; }

    .new-list{
        background-color:$white; margin-bottom: 5px; border-radius:$border-radius;
        margin-bottom: 10px;
        .newlistleft{
            width: calc(100% - 170px); float:left; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;
            overflow: hidden;  border: 1px solid #e3f1f7;
            .newlistdp-left{ width:145px; height:170px; background:$bg-default; float:left; position:relative;
                img{
                width: 145px;
                height: 170px;
                object-fit: cover;
                }
                i{
                text-align: center;
                line-height: 170px;
                font-size: 40px;
                display: block;
                color: $empty-icon-color;
                }
            }
            .newlistdp-right{ 
                width: calc(100% - 315px); float:left; padding:10px; padding-left:15px;
                .applicant-name-dt{
                    width: 100%;
                    float: left;
                    h2{
                        font-size:$font-20; color:$primarycolor; font-weight:normal; padding-bottom:8px;
                        display: block;
                        width: calc(100% - 50px);
                        float: left;
                        strong{
                            font-weight: 600;
                        }
                    }
                    ul{
                        margin:0px;
                        li{
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background: $bg-default;
                            border: solid 1px $light-border;
                            text-align: center;
                            border-radius:3px;
                            border-radius:3px;
                            border-radius:3px;
                            float: right;
                            margin-left: 5px;
                            i{
                            color: $primarycolor;
                            }
                        }
                    }
                }

                h4{ 
                    font-size:$small-font; color:$secondarycolor; margin:3px 0px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 80%;
                    // display: inline-block;
                }
                .com-pos{
                    width: 100%;
                    padding:0px 5px;
                    float: left;
                    h4{
                        i{
                        display: inline-block;
                        width: 20px;
                        }
                    }
                }
                .loc-sec{
                    width: 100%;
                    padding:0px;
                    float: left;
                    margin-left: 5px;
                    h4{
                    display: inline-block;
                    margin-right: 10px;
                        i{
                        display: inline-block;
                        width: 20px;
                        }
                    }
                }
                .oth-sec{
                    width: 100%;
                    padding:0px;
                    float: left;
                    margin-left: 5px;
                    h4{
                        display: block;
                        width: 100%;
                        margin-right: 10px;
                        padding:3px 0px;
                        margin:0px;
                        span{
                            font-weight: normal;
                            display: inline-block;
                            width: 115px;
                        }
                        i{
                            display: inline-block;
                            width: 20px;
                        }
                    }
                }
            }

        }
        .newlistright{ 
            width:160px; height:170px; float:right; padding:20px;border: 1px solid #e3f1f7;border-radius:$border-radius; -webkit-border-radius:$border-radius; -moz-border-radius:$border-radius;
            .newlist-percentage{
                .matching-new-application{ margin-top:0px;width: 120px; height:auto!important; text-align:center;margin:0px auto; float:none!important;
                canvas{ width:100px!important; height:100px!important; }
                }
                .circle{
                    span{ font-size:$x-small-font}
                    strong{ 
                        height: 100px;width: 100px; 
                        border-radius:50%; left:28px; color:$primarycolor; padding-top:25px; font-size:$normal-font;
                        position: absolute;
                        top:0px;
                        text-align: center;
                        display: block;
                    }
                }
            }
        }

        .newlist-experience{ 
            width:170px; float:right; padding:10px;
            .exp-box{ background:$more-light-bg; border:solid 1px $light-border; border-radius:$border-radius; text-align:center; padding:14px 0px;
                h5{ color:$secondarycolor;font-size: $x-small-font; margin:3px 0px;}
                h4{ color:$primarycolor; font-size: $small-font; font-weight:bold;margin:3px 0px;}
            }
        }
        // New style of the all listing page lable
        .new-succes{
            button{ background:#1ABC9C; color:$white; font-size: $x-small-font; border-radius:3px; border:none; padding:0 20px;}
        }
        .new-unsucces{
            button{ background:#E74C3C; color:$white; font-size: $x-small-font; border-radius:3px; border:none; padding:0 20px;}
        }
        .new-reviewed{
            button{ background:#3379bd!important; color:$white; font-size: $x-small-font; border-radius:3px; border:none; padding:0 20px;}
        }
        .new-shortlisted{
            button{ background:#354A61; color:$white; font-size: $x-small-font; border-radius:3px; border:none; padding:0 20px;}
        }
        .new-applied{
            button{ background:#ffdd91; color:$white; font-size: $x-small-font; border-radius:3px; border:none; padding:0 20px;}
        }
        .new-interview{
            button{ background:#97aec6; color:$white; font-size: $x-small-font; border-radius:3px; border:none; padding:0 20px;}
        }
        .hide-bigscreens{ display:none }
    }

    .click-dropdown-sort{
        .dropdown-menu{ margin-top:2px;}
    }
    .newlist{
        .newlistright{ width:200px;}
        .newlistleft{ width: calc(100% - 200px);}
    }
    .greenlist{ color:#1ABC9C }



.block .block-title-2{
    padding: 10px 0px!important;
    border-bottom:none!important;
    border-radius: $border-radius;
}
.drop-jobs{
    .click-dropdown-sort .btn-input .btn.form-control .caret{
        right: 0px!important;
    }
    .btn.form-control{
        width: 165px!important;
    }
}

.block .block-footer{
    float: left;
    width: 100%;
    border-top: 1px solid $light-border;
}
.block-title{
    span{
        float: right;
        display: block;
        color: $secondarycolor;
        text-decoration: underline;
        font-size: $normal-font;
        &:hover{
            cursor: pointer;
        }
    }
}
.application-brder-v4{
    border-bottom: solid 5px #badcfd;
    background-color:rgba(186, 220, 253, 0.3) !important;
    cursor: pointer;
    border-radius: $border-radius;
}
.advance-filter{
    background: none!important;
    float: right;
    color: $primarycolor!important;
    padding: 0px!important;
    font-size: $normal-font;
    text-decoration: underline;
}
.btn-jobapplicant-back{
    float: right;
}

.arabic{
    .app-datail .sugested-btn i{
        padding-right: 0px;
        padding-left: 5px;
    }
    .applicant-name-dt{
        h2{
            float: right!important;
        }
    }
    .btn-jobapplicant-back{
        float: left;
    }
    .advance-filter{
        float: left!important;
        text-align: left;
    }
    .block-title span{
        float: left;
    }
    .job-male-left{
        float: right!important;
    }
    .jobapplicant .bulk-btn{
        i{
            padding-left: 5px;
        }
    }
    .jobapplicant  .new-list .newlistright{
        // margin-right: 10px;
    }
    .right-bx button{
        float: left!important;
    }
    .click-dropdown-sort .btn-input .btn.form-control .caret{right:inherit!important; left: 0px!important;}
    .two-line{
        span{
            display: block;
            width: 100%;
        }
    }
}

.matching-new-application{
    position:relative;
    margin-top: 15px;
    width: 160px;
    float: left;
    height: 80px;
    canvas{
        width: 100px!important;
        height: 100px!important;
        margin: 0px auto;
        display: block;
    }

}





// Responsive
// =======================================================
@media all and (max-width: 1200px) {
    .jobapplicant .bulk-fdb1{
        margin-right: 0px!important;
    }
    .jobapplicant{
        .bulk-fdb1{ margin-right:0px; }
        .new-list{
            padding:10px;
            .newlistright{ width:170px;
            .newlist-percentage{ width:130px;
            .newlist-experience{ width:180px;}
            }
            }
        }
    }
    .jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt h2{
        text-align: left!important;
    }
    .mobile_full{
        width: 100%!important;
    }
    .half-fix-v4{
        width: 100%;
    }
    .left-bx{
        width: 100%!important;
    }
    
}

// =======================================================
@media all and (max-width: 991px) {
    .half-fix-v4{
        width: 100%;
    }
    .jobapplicant .new-list .newlist-experience{
        width: 100%;
    }
    .newlist-experience{
        border-top: 1px solid $light-border;
    }
}


// =======================================================
@media (max-width: 768px) {
    .jobapplicant .bulk-fdb1{
        margin-right: 0px!important;
    }
    .newlistleft{
        width: 100%!important;
    }
    .jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt h2 strong{
        text-align: left!important;
    }
    .jobapplicant .new-list .newlistleft .newlistdp-right{
        padding-left: 0px!important;
        padding: 10px!important;
    }
    .jobapplicant .new-list .newlist-experience{
        width: 100%;
    }
    .jobapplicant .new-list .newlistleft{
        width: 100%;
    }
    .half-fix-v4{
        width: 100%;
    }
    .arabic{
        .jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt ul{
            left: 0px!important;
            right: inherit;
        }
    }
    .jobapplicant .new-list .newlistright{
        border:none!important;
    }
    .jobapplicant .new-list .newlistleft .newlistdp-right{
        border-top: 1px solid $light-border;
    }
   

}
// =======================================================
@media (max-width: 480px) {
    .newlistright{
        border:none!important;
    }
}