
input[type="text"]{
    width: 79%;
    height: 40px;
    text-align: center;
    background-color: lightskyblue;
    border: 0px;
    border-radius: 33px;
}
input[type="button"]{
	    width: 31%;
    margin: auto;
    height: 45px;
    background-color: lightskyblue;
    color: black;
    margin-top: 22px;
    border: 0px;
    border-radius: 33px;
}	
	#b1:hover{
		background-color:red;
	}
