#slider{
 width: 1520px;

}
#images{
 width: 1520px;
}
#images{
	position:relative;
}
#left{
	position: absolute;
    left: 15px;
    top: 280px;
}
#right{
	position: absolute;
    right: 15px;
    top: 280px;
}