<div class="container" [class.arabic] = "accountService.isArabic()">
    <div class="forgot-password">
        <!-- Header Section -->
        <div class="row new-user-sign-form">
            <h1>{{fixedTextHash['forget_password'][currLan]}}</h1>
            <p class="margin-top-10">{{fixedTextHash['forget_password_desc'][currLan]}}</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 sign-in">
            <div class="row new-user-sign-form">
                <!-- alert Message -->
                <!-- alert success-->
                <div class="alert comen-alert" *ngIf="successMessage">
                    <i class="zmdi zmdi-check-circle"></i>
                    {{successMessage}}
                </div>
                <!-- alert worng-->
                <div class="alert alert-danger" *ngIf="errorMessage">
                    <i class="zmdi zmdi-close-circle"></i>
                    {{errorMessage}}<a class="red-error" href='{{accountService.getCurrLangUrl()}}signup-jobseeker'> Sign Up here</a>.
                </div>
                <!-- form of the forgot password -->
                <form [formGroup]="forgetForm" >
                    <div>
                        <input type="text" placeholder="{{fixedTextHash['email'][currLan]}}" formControlName="email" (keyup)="setTrim()"
                               [class.error-feild]="(forgetForm.controls['email'].touched || !(pristineFlag$ | async)) && forgetForm.controls['email'].errors">
                        <!-- Alert -->
                        <div  *ngIf="(forgetForm.controls['email'].touched || !(pristineFlag$ | async)) && forgetForm.controls['email'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                            {{fixedTextHash['empty_email'][currLan]}}
                        </div>
                    </div>
                    <div class="margin-top-10">
                        <button *ngIf="!postDoneFlag" (click)="submitEmail()">
                            <a>{{fixedTextHash['submit'][currLan]}}</a>
                        </button>
                        <button  *ngIf="postDoneFlag" class="disabled_button" >
                            <a>{{fixedTextHash['submit'][currLan]}}</a>
                        </button>

                        <span class="full-widthv3 mg-left-v3"   [routerLink]="[accountService.getCurrLangUrl()+'login']">{{fixedTextHash['cancel'][currLan]}}</span>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

