@import '../../../../styles/sass/base/_variables.scss';

h1, h2, h3, h4, h5, span, label, a, button, p{
  font-family: $primary-Fonts;
}

.arabic{
    h1, h2, h3, h4, h5, span, label, a, button, p, input{
    font-family: $arabic-primary-Fonts!important;
  }
}

h1{
 text-align: center;
 display: block;
 color: $heading-text;
 font-size: $big-font;
}
p{
	 color: $text-normal-color;
	 display: block;
	 width: 50%; margin: 0px auto;
}

input, select {
    width: 100%;
    border: solid 1px $boredr-color;
    color: $text-normal-color !important;
    height: $form-height!important;
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 14px !important;
    line-height: $button-height !important;
    border-radius: $border-radius!important;
    background-color:$form-bg!important; 
  }
  @-webkit-keyframes autofill {
      to {
          color: $primary-font;
          background: transparent;
      }
  }

  input:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
  }

  button{ 
    width: 100%; 
    margin-bottom:4px; 
    font-weight: bold; 
    height: $button-height; 
    border-radius: $border-radius;
    background-color:$primarycolor;
    font-size:14px; 
    border: none; 
    color:$text-dark-bg;
    text-align: center;
   }
  button:hover{ opacity: 0.8  }
  span{
  	display: block;
  	padding:15px 0px;
    text-align: center;
    padding: 20px 0px;
    text-decoration: underline;
    font-size: $primary-font;
    &:hover{
    	cursor: pointer;
    }
  }

  .forgot-password{
  	padding:10% 0%;
  	float: left;
  	width: 100%;
  }




  /* Respopnsive breakpoint */
// ============bigScreen===========
@media all and (max-width: 991px) {

}

// ============MediumScreen========
@media all and (max-width: 768px) {

  p{
 	width: 100%
 }

}

// ============SmallScreen=========
@media all and (max-width: 480px) {
 p{
 	width: 100%
 }
  
}