@import '../../styles/sass/base/_variables.scss';


input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

h1, h2, h3, h4, h5, span, label, a, button, p{
    font-family: $primary-Fonts;
}

.arabic{
    h1, h2, h3, h4, h5, span, label, a, button, p, input, .cmpny-txt{
       font-family: $arabic-primary-Fonts!important;
    }
    .circle{
        span{
            margin-left: 0px;
        }
    }
}

.circle{
    display: block;
    width: 100%;
    line-height: inherit;
    strong{
        display: block;
        position: absolute;
        width: 100%;
        top: -65px;
    }
    span{
        display: block;
        color:$secondarycolor;
        margin-top: 4px;
        font-size: $x-small-font;
    }
}

.center{
    text-align: center;
}



/* Respopnsive breakpoint */
// ============bigScreen===========
@media all and (max-width: 991px) {

}

// ============MediumScreen========
@media all and (max-width: 768px) {

}

// ============SmallScreen=========
@media all and (max-width: 480px) {
  
    .circle{
        width:100%;
        span{
            margin-left: 0px;
        }
        strong{
            width: 100%;
        }
    }
   
}
