 .arabic{
    .herov3{
        h1{
            text-align: right;
            padding-right: 0px;
        }
        h2{
            text-align: right;
            padding-right: 20px;
        }
    }

   .herov3 .banner-main-title{
     text-align: right;
   }
    // dropdowns
    .select__arrow{
        left: 15px!important;
        right:inherit;
    }
     .serch-new .job-seeker_signupv3 .lft-srch .rgt-select .pos-serch .select__arrow{
        left: 15px!important;
        right: inherit;
     }
     .new-drop-down .caret{
        left: 15px!important;
        right: inherit;
     }

     // date
     .relative-input .calandy-bt{
        left: 15px!important;
        right: inherit;
     }

    .headerstylev3{
        span{
            i{
                float: right!important;
            }
        }
    }
    .request-v3 button{
        float: left;
    }
    .filter-jobs .featured-box .feturd-compny-dtls2{
        float: right;
    }
    .filter-jobs .featured-box .feturd-matching-percentage{
        float: left;
    }
    .job_mobile-bottom .col-xs-9 .cmpny-txt i{
        float: right;
    }
    .job_mobile-bottom .col-xs-9 .cmpny-txt span{
        float: right;
    }
    .home-inner-header .menu{
        text-align: left;
    }
 }



// Version5
// ==============================

.arabic{
  .bannerv4 .menuv4 ul{
        float: left;
    }
    .arabic-textcg{
        text-align: left;
        float: left;
        display: block;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        color: #fff;

    }
    .bannerv4 .signupbxov4{
        float: left;
    }
    .bannerv4 .search-boxv4 .feildboxv4 .search-v4-icn{
        text-align: left;
        background-position: 95% 13px;
    }
    .bannerv4 .search-boxv4 .feildboxv4 select{
        text-align: left;
    }


    // home v5
    #home_v5 header .banner-section .hed-menu .bl-btn{
        text-align: left;
        float: left;
    }
    #home_v5 header .banner-section .banner .banner-diag .bnr-txt-rgt img{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    #home_v5 header .banner-section .banner .banner-diag .bnr-txt-rgt{
        right: inherit;
        left: 0px;
    }
    #home_v5 header .banner-section .banner .banner-diag .bnr-txt-rgt .reg-form{
        margin-right: 162px;
        margin-left: inherit;
    }
    #home_v5 header .banner-section .banner .banner-diag .bnr-txt-rgt .reg-form .reg-close-btn{
        text-align: left;
    }
    #home_v5 header .banner-section .banner .banner-diag .bnr-txt-rgt .reg-form .reg-frm .txt-reg{
        float: right;
    }
    #home_v5 header .banner-section .banner .banner-diag .bnr-txt-rgt .reg-form .reg-frm .txt-arw{
        float: right;
        margin-right: 10px;
        margin-left: inherit;
    }
    #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-right{
        width: 160px;
    }
    #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-left{
        width: calc(100% - 160px);
    }
    #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-right button{
        border-radius: 4px 0px 0px 4px;
        line-height: 40px;
    }
    #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-left{
        border-radius: 0px 4px 4px 0px!important;
    }
    #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-left .form-50 input{
        padding-left: 30px;
    }
    #home_v5 .select-one3 .caret3{
        right: inherit;
        left: 10px;
    }
    #home_v5 #hiring .banner-section .flip-img{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    #home_v5 #hiring .banner-section .hiring-cntr .hiring-posh{
        z-index: 8;
    }
    #home_v5 #footer-sec .copy-social .social{
        text-align: left;
    }
    .arabic-textcg{
        color: #333!important;
        padding-left:inherit;
        padding-right:10px;
        background: linear-gradient(to right, #ba6ee2 45%, #3fa9fc 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-left .form-50{
        border-left: 1px solid #4f6284;
    }
    #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-right button i{
        margin-top: 13px;
    }
    #home_v5 .new-drop-down .caret{
        right: inherit;
        left: 10px;
    }
    .elevator .elevtor-detail b{
        text-align: right;
        float: right;
        width: 100%;
    }
    .elevator .elevtor-detail ol, .elevator .elevtor-detail ul{
        float: right;
        text-align: right;
    }
    .elivator-language-text{
        display: block;
        text-align: right;
        padding: 10px 20px;
        background: linear-gradient(to right, #ba6ee2 45%, #3fa9fc 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        &:hover{
            cursor: pointer;
        }
    }
    .elevator .elevtor-detail ol, .arabic .elevator .elevtor-detail ul{
        margin-right: 30px;
        margin-left: 0px;
     }

     #home_v5 header .banner-section .hed-menu .bl-btn{
        width: calc(100% - 130px);
     }

  
}



// responsive

/*---------------------------------------------------1-------------------------------------------------------*/
@media (max-width: 1200px){

}

/*---------------------------------------------------2-------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px){

    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-left{
        width: 100%;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-left .form-50{
        border:none;
    }
    .arabic .form-bloo-left{
        float: none!important;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-right{
        width: 100%;
        border-radius:4px;
        overflow: hidden;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-right button{
        border-radius:4px;
    }
    .arabic  #home_v5 #hiring .banner-section img{
        margin-top: 10px;
    }
    .arabic .foote-section .col-lg-5{
        float: none!important;
    }
    .arabic .copy-social .col-lg-6{
        float: none!important;
    }
    .arabic #home_v5 header .banner-section .banner{
        margin-top: 10px;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-left{
        border-radius:4px;
    }
    .arabic #home_v5 header .banner-section .banner .banner-diag .bnr-txt-rgt .reg-form{
        left: 20px;
        right: inherit;
    }
    .arabic #home_v5 #blog-box .blog-title img{
        width: 100%;
        height: 260px;
        object-fit: cover;
    }
    
   

}

@media (max-width: 1024px) {
    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-right button{
        margin-top: 5px!important;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-left .form-50 input{
        border-right:1px solid #3a4a6e;
    }
}



@media (min-width: 768px) and (max-width: 990px){
    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-right button span{
        float: right;
    }
    .arabic #home_v5 header .banner-section .banner .banner-diag .bnr-txt-rgt .reg-form{
        left: 0px;
    }
}

/*---------------------------------------------------3-------------------------------------------------------*/

@media (max-width: 768px) {
   .arabic .headerstylev3 span i{
        float: none!important;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-left{
        width: 100%;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-left .form-50{
        border:none;
    }
    .arabic .form-bloo-left{
        float: none!important;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-right{
        width: 100%;
        border-radius:4px;
        overflow: hidden;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt .form-bloo .form-bloo-right button{
        border-radius:4px;
    }
    .arabic  #home_v5 #hiring .banner-section img{
        margin-top: 10px;
    }
    .arabic .foote-section .col-lg-5{
        float: none!important;
    }
    .arabic .copy-social .col-lg-6{
        float: none!important;
    }
    .arabic #home_v5 header .banner-section .banner{
        margin-top: 10px;
    }
    .arabic #home_v5 .select-one3 select{
        border-radius:4px;
    }
    .arabic  #home_v5 header .banner-section .hed-menu .bl-btn{
        width: 100%!important;
    }
    .arabic #home_v5 header .banner-section .hed-menu .bl-btn .btn-signin{
        width: 49%!important;
        margin-bottom: 5px;
        font-size: 12px;
        float: right;
        border:none;
        background: linear-gradient(90deg, #020024 0%, #ba6ee2 0%, #3fa9fc 100%);
        color: #fff;

    }
    .arabic #home_v5 header .banner-section .hed-menu .bl-btn .btn-emr{
        width: 49%!important;
        margin-bottom: 5px;
        font-size: 12px;
        float: left;
    }
    .arabic #home_v5 header .banner-section .banner .banner-diag .bnr-txt-rgt .reg-form{
        margin-right:inherit!important;
    }
    .arabic .dashboard-graph .nav > li > a{
        width: 100%;
    }
    .arabic #home_v5 header .banner-section .hed-menu .bl-btn .btn-signup{
        width: 100%;
        margin-bottom: 5px;
        background: #fff;
        color: #7294a9;
        border: solid 1px #7294a9;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt h1{
        font-size: 22px;
        line-height: 29px;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt{
        padding-top: 50px;
    }
    .arabic #home_v5 header .banner-section .banner .banner-txt h2{
        font-size: 16px;
    }
    .arabic #home_v5 header .banner-section .hed-menu .bl-logo{
        width: 100px!important;
        float: right!important;
    }
    .arabic .arabic-textcg{
        right: inherit;
        left: 16px;
    }
    .arabic .sign-in h1, .sign-up h1{
        font-size: 20px;
    }
    .arabic .full-widthv3{
        width: 100%;
        margin-bottom: 5px;
        margin-left:0px!important;
    }
    .arabic .commen-container-public{
        margin-top: 130px!important;
    }
    .arabic .mobile-top-menu-fit a{
        width: 100%;
        margin-bottom: 5px;
    }



}
/*---------------------------------------------------4-------------------------------------------------------*/

@media (max-width: 480px) {
    .arabic .headerstylev3 span i{
        float: none!important;
    }
    .arabic  #home_v5 header .banner-section .hed-menu .bl-btn{
        width: 100%!important;
    }
}
