input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../../../assets/fonts/ats/icomoon.eot?4nrirk");
  src: url("../../../../assets/fonts/ats/icomoon.eot?4nrirk#iefix") format("embedded-opentype"), url("../../../../assets/fonts/ats/icomoon.ttf?4nrirk") format("truetype"), url("../../../../assets/fonts/ats/icomoon.woff?4nrirk") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email-action:before {
  content: "\111";
}

.icon-tag-action:before {
  content: "\112";
}

.icon-history:before {
  content: "\113";
}

.icon-move:before {
  content: "\114";
}

.icon-rating:before {
  content: "\115";
}

h1, h2, h3, h4, h5, span, label, a, button, p {
  font-family: #666;
}

.arabic h1, .arabic h2, .arabic h3, .arabic h4, .arabic h5, .arabic span, .arabic label, .arabic a, .arabic button, .arabic p, .arabic input, .arabic .cmpny-txt {
  font-family: source-sans-pro, "Noto Kufi Arabic", sans-serif !important;
}

.smalltxt {
  font-size: 24px !important;
  line-height: 30px;
  color: #545455 !important;
}

.smalltxt span {
  color: #37a312 !important;
  display: block;
  font-size: 16px !important;
}

.drop-jobs .click-dropdown-sort .btn-input .btn.form-control .caret {
  right: 0px !important;
}

.drop-jobs .btn.form-control {
  width: 165px !important;
}

.block .block-title-2 {
  padding: 10px 0px !important;
  border-bottom: none !important;
  border-radius: 0px;
}

.jobapplicant .jobapp-btm-10 {
  margin-bottom: 10px;
}

.jobapplicant .jobapp-top-10 {
  margin-top: 10px;
}

.jobapplicant .light {
  font-size: 12px;
}

.jobapplicant .right-bx {
  width: 289px;
}

.jobapplicant .left-bx {
  width: calc(100% - 336px) !important;
}

.jobapplicant .block .block-title-2 h2 {
  font-size: 16px;
}

.jobapplicant .block .block-title-2 .btn-jobapplicant {
  background: #545455;
}

.jobapplicant .block .block-title-2 .btn-jobapplicant i {
  margin-left: 5px;
  margin-right: 5px;
}

.jobapplicant .jobanalytics {
  float: left;
  width: 100%;
  border: 1px solid #ececec;
  padding: 10px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
}

.jobapplicant .jobanalytics h4 {
  color: #37a312;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.jobapplicant .jobanalytics .prograss-txt {
  color: #545455;
  font-size: 12px;
}

.jobapplicant .jobanalytics .progress {
  height: 10px !important;
  box-shadow: none;
  border-radius: 0px;
}

.jobapplicant .jobanalytics .progress-bar-success {
  box-shadow: none;
}

.jobapplicant .jobanalytics .prograss-txt-per {
  font-size: 10px;
  position: absolute;
  right: 10px;
  margin-top: 14px;
}

.jobapplicant .jobanalytics .job-analytics-cntry .progress {
  background-color: #E8F7FF;
}

.jobapplicant .jobanalytics .job-analytics-cntry .progress-bar-success {
  background-color: #8DD8FF;
}

.jobapplicant .jobanalytics .job-analytics-cntry .prograss-txt-per {
  color: #3388B4;
}

.jobapplicant .jobanalytics .job-analytics-sector .progress {
  background-color: #F8FCFE;
}

.jobapplicant .jobanalytics .job-analytics-sector .progress-bar-success {
  background-color: #D9EDFA;
}

.jobapplicant .jobanalytics .job-analytics-sector .prograss-txt-per {
  color: #599BC6;
}

.jobapplicant .jobanalytics .job-analytics-education .progress {
  background-color: #FEF8ED;
}

.jobapplicant .jobanalytics .job-analytics-education .progress-bar-success {
  background-color: #FADCA7;
}

.jobapplicant .jobanalytics .job-analytics-education .prograss-txt-per {
  color: #A5792E;
}

.jobapplicant .jobanalytics .job-analytics-age .progress {
  background-color: #DBDFE3;
}

.jobapplicant .jobanalytics .job-analytics-age .progress-bar-success {
  background-color: #91A0AE;
}

.jobapplicant .jobanalytics .job-analytics-age .prograss-txt-per {
  color: #475A6E;
}

.jobapplicant .jobanalytics .job-analytics-nationality .progress {
  background-color: #DBF5F0;
}

.jobapplicant .jobanalytics .job-analytics-nationality .progress-bar-success {
  background-color: #84D9CC;
}

.jobapplicant .jobanalytics .job-analytics-nationality .prograss-txt-per {
  color: #2B8976;
}

.jobapplicant .jobanalytics .job-analytics-gender .job-male {
  margin-top: 15px;
}

.jobapplicant .jobanalytics .job-analytics-gender .job-male .job-male-left {
  float: left;
  width: 32px;
}

.jobapplicant .jobanalytics .job-analytics-gender .job-male .job-male-right {
  float: right;
  width: calc(100% - 38px);
}

.jobapplicant .jobanalytics .job-analytics-gender .job-male .job-male-right .progress {
  background-color: #D1F6FE;
}

.jobapplicant .jobanalytics .job-analytics-gender .job-male .job-male-right .progress-bar-success {
  background-color: #1ACFF8;
}

.jobapplicant .jobanalytics .job-analytics-gender .job-male .job-male-right .prograss-txt-per {
  color: #008BAA;
}

.jobapplicant .jobanalytics .job-analytics-gender .job-female {
  margin-top: 15px;
}

.jobapplicant .jobanalytics .job-analytics-gender .job-female .job-male-left {
  float: left;
  width: 25px;
}

.jobapplicant .jobanalytics .job-analytics-gender .job-female .job-male-right {
  float: right;
  width: calc(100% - 38px);
}

.jobapplicant .jobanalytics .job-analytics-gender .job-female .job-male-right .progress {
  background-color: #FEE2E9;
}

.jobapplicant .jobanalytics .job-analytics-gender .job-female .job-male-right .progress-bar-success {
  background-color: #F97092;
}

.jobapplicant .jobanalytics .job-analytics-gender .job-female .job-male-right .prograss-txt-per {
  color: #A52242;
}

.jobapplicant .job-anlytics-info .row-anly {
  padding: 10px;
  border: 1px solid #ececec;
  float: left;
  width: 100%;
}

.jobapplicant .job-anlytics-info .col-lg-2 {
  width: 14.285%;
}

.jobapplicant .job-anlytics-info .col-lg-2 .anly-blue {
  background: #d7edd0 !important;
}

.jobapplicant .job-anlytics-info .col-lg-2 .info {
  background: #fff;
  text-align: center;
}

.jobapplicant .job-anlytics-info .col-lg-2 .info h3 {
  font-size: 14px;
  padding-top: 20px;
  color: #545455;
  margin-top: 0px;
  margin-bottom: 2px;
}

.jobapplicant .job-anlytics-info .col-lg-2 .info h2 {
  font-size: 22px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 20px;
  color: #37a312;
}

.jobapplicant .job-anlytics-info .col-lg-2 .info:hover {
  background: #d7edd0;
}

.jobapplicant .bulk-fdb1 {
  margin-right: 0px;
}

.jobapplicant .bulk-fdb1:hover {
  background-color: #37a312 !important;
  color: #fff;
}

.jobapplicant .bulk-btn:hover {
  background-color: #37a312 !important;
  color: #fff;
}

.jobapplicant .bulk-btn {
  background: #fff !important;
  overflow: hidden;
  color: #37a312;
  border: 1px solid #ececec !important;
  min-height: 40px !important;
  padding-top: 5px;
  border-radius: 0px;
  padding: 3px 12px;
}

.jobapplicant .sugested-btn {
  background: #fff !important;
  overflow: hidden;
  color: #37a312;
  border: 1px solid #ececec !important;
  min-height: 40px;
  padding-top: 5px;
  border-radius: 0px;
  padding: 3px 12px;
}

.jobapplicant .bulk-fdb-sort {
  background: #fff;
  min-height: 40px !important;
  padding-top: 3px;
  margin-left: 5px;
  width: calc(100% - 480px);
}

.jobapplicant .bulk-fdb-sort .btn {
  border: none !important;
}

.jobapplicant .click-dropdown-sort span {
  padding-top: 2px;
}

.jobapplicant .click-dropdown-sort .dropdown-toggle {
  width: 165px !important;
}

.jobapplicant .click-dropdown-sort .btn-input .btn.form-control .caret {
  margin-top: 0px !important;
  right: 0px !important;
}

.jobapplicant .feed-back-mg {
  margin-bottom: 10px;
}

.jobapplicant .new-list {
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #ececec;
}

.jobapplicant .new-list .newlistleft {
  width: calc(100% - 170px);
  float: left;
  overflow: hidden;
}

.jobapplicant .new-list .newlistleft .newlistdp-left {
  width: 145px;
  height: 170px;
  background: rgba(195, 227, 184, 0.41);
  float: left;
  position: relative;
}

.jobapplicant .new-list .newlistleft .newlistdp-left img {
  width: 145px;
  height: 170px;
  object-fit: cover;
}

.jobapplicant .new-list .newlistleft .newlistdp-left i {
  text-align: center;
  line-height: 170px;
  font-size: 40px;
  display: block;
  color: #73bf59;
}

.jobapplicant .new-list .newlistleft .newlistdp-right {
  width: calc(100% - 395px);
  float: left;
  padding: 10px;
  padding-left: 15px;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt {
  width: 100%;
  float: left;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt h2 {
  font-size: 20px;
  color: #37a312;
  font-weight: normal;
  padding-bottom: 8px;
  display: block;
  width: auto;
  float: left;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt h2 strong {
  font-weight: 600;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt ul {
  margin: 0px;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt ul li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: rgba(195, 227, 184, 0.41);
  border: solid 1px #ececec;
  text-align: center;
  border-radius: 3px;
  border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin-left: 5px;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt ul li i {
  color: #37a312;
}

.jobapplicant .new-list .newlistleft .newlistdp-right h4 {
  font-size: 14px;
  color: #545455;
  margin: 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  font-weight: 400;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .com-pos {
  width: 100%;
  padding: 0px 5px;
  float: left;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .com-pos h4 i {
  display: inline-block;
  width: 20px;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .oth-sec {
  width: 100%;
  padding: 0px;
  float: left;
  margin-left: 5px;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .oth-sec h4 {
  display: block;
  width: 100%;
  margin-right: 10px;
  padding: 5px 0px;
  margin: 0px;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .oth-sec h4 span {
  font-weight: normal;
  display: inline-block;
  width: 115px;
}

.jobapplicant .new-list .newlistleft .newlistdp-right .oth-sec h4 i {
  display: inline-block;
  width: 20px;
}

.jobapplicant .new-list .newlistright {
  width: 160px;
  height: 170px;
  float: right;
  padding: 20px;
  border-left: 1px solid #ececec;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.jobapplicant .new-list .newlistright .newlist-percentage .matching-new-application {
  margin-top: 0px;
  width: 120px;
  height: auto !important;
  text-align: center;
  margin: 0px auto;
  float: none !important;
}

.jobapplicant .new-list .newlistright .newlist-percentage .matching-new-application canvas {
  width: 100px !important;
  height: 100px !important;
}

.jobapplicant .new-list .newlistright .newlist-percentage .circle span {
  font-size: 12px;
}

.jobapplicant .new-list .newlistright .newlist-percentage .circle strong {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  left: 28px;
  color: #37a312;
  padding-top: 25px;
  font-size: 16px;
  position: absolute;
  top: 0px;
  text-align: center;
  display: block;
}

.jobapplicant .new-list .newlist-experience {
  width: 250px;
  float: right;
  padding: 10px;
}

.jobapplicant .new-list .newlist-experience .exp-box {
  background: #d7edd0;
  border: solid 1px #ececec;
  border-radius: 0px;
  text-align: center;
  padding: 14px 0px;
}

.jobapplicant .new-list .newlist-experience .exp-box h5 {
  color: #545455;
  font-size: 12px;
  margin: 3px 0px;
}

.jobapplicant .new-list .newlist-experience .exp-box h4 {
  color: #37a312;
  font-size: 14px;
  font-weight: bold;
  margin: 3px 0px;
}

.jobapplicant .new-list .new-succes button {
  background: #1ABC9C;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: none;
  padding: 0 5px;
}

.jobapplicant .new-list .new-unsucces button {
  background: #E74C3C;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: none;
  padding: 0 5px;
}

.jobapplicant .new-list .new-reviewed button {
  background: #3379bd !important;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: none;
  padding: 0 5px;
}

.jobapplicant .new-list .new-shortlisted button {
  background: #354A61;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: none;
  padding: 0 5px;
}

.jobapplicant .new-list .new-applied button {
  background: #ffdd91;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: none;
  padding: 0 5px;
}

.jobapplicant .new-list .new-interview button {
  background: #97aec6;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: none;
  padding: 0 5px;
}

.jobapplicant .new-list .hide-bigscreens {
  display: none;
}

.jobapplicant .click-dropdown-sort .dropdown-menu {
  margin-top: 2px;
}

.jobapplicant .newlist .newlistright {
  width: 200px;
}

.jobapplicant .newlist .newlistleft {
  width: calc(100% - 200px);
}

.jobapplicant .greenlist {
  color: #1ABC9C;
}

.block .block-title-2 {
  padding: 10px 0px !important;
}

.block .block-footer {
  float: left;
  width: 100%;
  border-top: 1px solid #ececec;
}

.block-title span {
  float: right;
  display: block;
  color: #545455;
  text-decoration: underline;
  font-size: 16px;
}

.block-title span:hover {
  cursor: pointer;
}

.srt-feture {
  font-weight: 600;
}

.application-brder-v4 {
  border-bottom: solid 5px #badcfd;
  background-color: rgba(186, 220, 253, 0.3) !important;
  cursor: pointer;
  border-radius: 0px;
}

.advance-filter {
  background: none !important;
  float: right;
  color: #37a312 !important;
  padding: 0px !important;
  font-size: 14px;
  width: 100%;
  text-align: right;
}

.btn-jobapplicant-back {
  float: right;
}

.arabic .app-datail .sugested-btn i {
  padding-right: 0px;
  padding-left: 5px;
}

.arabic .applicant-name-dt h2 {
  float: right !important;
}

.arabic .btn-jobapplicant-back {
  float: left;
}

.arabic .advance-filter {
  float: left !important;
  text-align: left;
}

.arabic .block-title span {
  float: left;
}

.arabic .job-male-left {
  float: right !important;
}

.arabic .jobapplicant .bulk-btn i {
  padding-left: 5px;
}

.arabic .jobapplicant .new-list .newlistright {
  border-left: none;
  border-right: solid 1px #ececec;
}

.arabic .jobapplicant .new-list .newlistleft .newlistdp-right h4 span {
  float: right;
  padding-left: 5px;
}

.arabic .click-dropdown-sort .btn-input .btn.form-control .caret {
  right: inherit !important;
  left: 0px !important;
}

.arabic .right-bx {
  width: 288px !important;
}

.matching-new-application {
  position: relative;
  margin-top: 15px;
  width: 160px;
  float: left;
  height: 80px;
}

.matching-new-application canvas {
  width: 100px !important;
  height: 100px !important;
  margin: 0px auto;
  display: block;
}

.action-list-candi {
  border: 1px solid #ececec;
  height: 40px;
  width: 100%;
  border-radius: 0px;
  border-bottom: none;
}

.action-list-candi .form-group {
  margin-bottom: 0px;
  float: left;
  padding-left: 10px;
  color: #37a312;
}

.action-list-candi .form-check-input {
  float: left;
  width: 20px;
  margin: 0px;
}

.action-list-candi .form-check-label {
  line-height: 40px;
  margin-bottom: 0px;
}

.action-list-candi .action-button-candi {
  display: block;
  margin-bottom: 0px;
  float: right;
}

.action-list-candi .action-button-candi li {
  border-left: 1px solid #ececec;
  display: block;
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  color: #37a312;
}

.action-list-candi .action-button-candi li:hover {
  cursor: pointer;
}

.arabic .action-list-candi .action-button-candi {
  float: left;
}

.arabic .action-list-candi .form-group {
  float: right;
  padding-left: 0px;
  padding-right: 10px;
}

.cvtag {
  width: 100%;
  height: auto;
  padding: 10px;
  float: left;
  border-top: none;
}

.cvtag ul {
  margin-bottom: 0px;
}

.cvtag ul li {
  display: inline-block;
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ececec;
  border-radius: 0px;
  overflow: hidden;
  margin-right: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
}

.statsnew {
  border: 1px solid #ececec;
  border-top: none;
  width: 100%;
  height: auto;
  float: left;
}

.statsnew .col-lg-3 {
  text-align: center;
  min-height: 80px;
  border-right: 1px solid #ececec;
}

.statsnew .col-lg-3 span {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #545455;
}

.statsnew .col-lg-3 b {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #37a312;
}

.newlist-experience b {
  text-align: right;
  display: block;
}

.newlist-experience ul li {
  display: block;
  width: 100%;
}

.newlist-experience ul li .textskilAts {
  color: #545455;
  display: block;
  text-align: right;
}

.newlist-experience ul li .frameSkills {
  display: block;
  width: 100%;
  height: 5px;
  background: #f1f1f1;
  margin-top: 5px;
}

.newlist-experience ul li b {
  display: block;
  float: right;
  width: 33.33%;
  height: 5px;
}

.newlist-experience ul li .bignnerAts {
  background: #ACEA97;
}

.newlist-experience ul li .intermediateAts {
  background: #6CC34E;
}

.newlist-experience ul li .expertAts {
  background: #37A312;
}

.listingFrame {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
}

@media all and (max-width: 1200px) {
  .jobapplicant .bulk-fdb1 {
    margin-right: 0px !important;
  }
  .jobapplicant .bulk-fdb1 {
    margin-right: 0px;
  }
  .jobapplicant .new-list {
    padding: 10px;
  }
  .jobapplicant .new-list .newlistright {
    width: 170px;
  }
  .jobapplicant .new-list .newlistright .newlist-percentage {
    width: 130px;
  }
  .jobapplicant .new-list .newlistright .newlist-percentage .newlist-experience {
    width: 180px;
  }
  .jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt h2 {
    text-align: left !important;
  }
  .mobile_full {
    width: 100% !important;
  }
  .half-fix-v4 {
    width: 100%;
  }
  .left-bx {
    width: 100% !important;
  }
}

@media all and (max-width: 991px) {
  .half-fix-v4 {
    width: 100%;
  }
  .jobapplicant .new-list .newlist-experience {
    width: 100%;
  }
  .newlist-experience {
    border-top: 1px solid #ececec;
  }
  .statsnew {
    border: none;
  }
  .statsnew .col-lg-3 {
    border: 1px solid #ececec !important;
    border-right: none;
    width: 50%;
  }
  .cvtag {
    border: 1px solid #ececec;
  }
  .cvtag li {
    width: auto !important;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .jobapplicant .bulk-fdb1 {
    margin-right: 0px !important;
  }
  .newlistleft {
    width: 100% !important;
  }
  .jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt h2 strong {
    text-align: left !important;
  }
  .jobapplicant .new-list .newlistleft .newlistdp-right {
    padding-left: 0px !important;
    padding: 10px !important;
  }
  .jobapplicant .new-list .newlist-experience {
    width: 100%;
  }
  .jobapplicant .new-list .newlistleft {
    width: 100%;
  }
  .half-fix-v4 {
    width: 100%;
  }
  .arabic .jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt ul {
    left: 0px !important;
    right: inherit;
  }
  .arabic .right-bx {
    width: 100% !important;
  }
  .jobapplicant .new-list .newlistright {
    border: none !important;
  }
  .jobapplicant .new-list .newlistleft .newlistdp-right {
    border-top: 1px solid #ececec;
  }
  .statsnew {
    border: none;
  }
  .statsnew .col-lg-3 {
    border: 1px solid #ececec !important;
    border-right: none;
    width: 50%;
  }
  .cvtag {
    border: 1px solid #ececec;
  }
  .jobapplicant .left-bx {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .newlistright {
    border: none !important;
  }
  .statsnew {
    border: none;
  }
  .statsnew .col-lg-3 {
    border-bottom: 1px solid #ececec;
    border-right: none;
    width: 100%;
  }
}
