h2{margin: 0px !important;}
html{outline: 0!important;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
body {letter-spacing:0.2px!important;
    font-size:$small-font!important;
    font-family: $primary-Fonts!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:$bg!important;
    font-weight: normal;
}
ul {
  padding: 0px;
}

div{
    animation: fadein 0.30s;
    -moz-animation: fadein 0.30s; /* Firefox */
    -webkit-animation: fadein 0.30s; /* Safari and Chrome */
    -o-animation: fadein 0.30s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:8;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:8;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:8;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 8;
    }
}

a{
    outline: medium none!important;
    cursor: pointer;
    text-decoration: none!important;
}
:hover{
    transition: all 0.5s ease!important;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.modal-body input{
    height: $button-height;
}
b, strong{ 
    font-weight:500!important 
}
















