//ATS Variables
// =============================================================================

// Coomon
// =============================================================================


$primarycolor:#37a312; //main color of the site
$secondarycolor:#545455; //font color
$tertiarycolor:#73bf59; //50% light color of main color
$white:#ffffff;

$bg:#fff;
$by-body: #fff;
$primary-ats: #f1f1f1;
$secondary-ats:#000;
$primary-font:#666;//font-color same as secondary
$dark-color:#37a312; // main color of site
$light-color:#c3e3b8; //15% light color of main color
$placeholder:rgba(118, 108, 92, 0.68);

$defult-img:#73bf59;//25% light color of main color

$bg-default:rgba(195, 227, 184, 0.41);//defult-bg-pro-pic all light bg based on brand color
$upload-icon:#73bf59; //all defult image icon
$more-light-bg:#d7edd0; //more light brand color

$none:0px;
// main menu border right color
$border-menu:rgba(244, 237, 218, 0.18);


// probability
$prob:#73bf59; //probability of sucess job seeker job
$prob2:#c3e3b8;

// header
// =============================================================================
$header:#fff;

// footer
// =============================================================================
$footer:#545455;


// Buttons
// =============================================================================
$button-primary:#37a312;
$button-secondary:#6F6F71;
$hover-bt-primary:#73bf59;
$button-height:40px;
$text-dark-bg:#fff;
$mob-button-height:45px;
$button-font:16px;
$font-weight:500;

// border
// =============================================================================
$boredr-color:#e1e1e1;
$border-brand:#c3e3b8;//light brand color
$form-border:#e1e1e1;
// Border-radius
$border-radius:0px;//all border radius of the site
$light-border:#ececec;
$very-light-border:#f1f1f1;

// Forms
// =============================================================================
$form-height:40px;
$form-bg:#fff;
$placeholder-form:rgba(118, 108, 92, 0.68) !important;
$form-txt:16px;
$form-label-color:#37A312;//same as primary color

// Social Media
// =============================================================================
$fb:#4267B2;
$google:#dc5c4b;
$linkedin:#1382bc;
$twitter:#51c7fa;


// Fonts
// =============================================================================
// English
$primary-Fonts: source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Arabic
$arabic-primary-Fonts: source-sans-pro, "Noto Kufi Arabic", sans-serif;


$font-commen-color:#333;
$text-normal-color:#545455;//same as font color
$heading-text:#37a312;//same as primary
$normal-font:16px;
$big-font:24px;
$xbig-font:35px;
$paragraph:16px;
$small-font:14px;
$x-small-font:12px;
$medium-size:18px;
$not-color:#545455;
$thin-weight:400;

// HYPERLINK
// =============================================================================
$hyperlink:#37a312;//same as primary

// Alert
// =============================================================================
$alert-bg:rgba(195, 227, 184, 0.41);
$alert-border:rgba(195, 227, 184, 0.667);

// footer
// =============================================================================
$footer-color:#fff;

// Empty style
$empty-icon-color:#73bf59;//50% light color of main color
$empty-icon-font:50px;
$empty-txt-font:14px;

// ========================================================================
// employer sahdes
$shade1:#37A312;
$shade2:#42A91E;
$shade3:#4CB02A;
$shade4:#57B636;
$shade5:#62BD42;
$shade6:#6CC34E;
$shade7:#77CA5B;
$shade8:#81D067;
$shade9:#8CD773;
$shade10:#97DD7F;
$shade11:#A1E48B;
$shade12:#ACEA97;
// ========================================================================
// ATS ENDING

//secondary color
$Progress:#3379bd;
$successful:#1abc9c;
$unsuccessful:#e74c3c;
$applied:#2d6cb5;
$orange:#e65731;
$main-over:#fbfbfb;
$step-color:#f1f8ff;








//font Size
$font-10:10px;
$font-20:1.250em;
$font-22:21px;
$font-28:28px;
$font-30:1.875em;
$font-34:34px;
$font-35:2.188em;
$font-46:46px;
$font-50:50px;
$font-60:3.750em;
$font-70:70px;

//font family
$font-medium:'helveticaneuemedium';
$font-normal:'HelveticaNeue';


$green:#31aa3a;







$body-clr:#f0f1f0;
$footer-clr1:#f4824a;
$footer-clr2:#f47637;
$black:#535353;
$light-org:#fff7f2;

$white:#fff;
$btn-1:#7294a9;
$btn-2:#0376ed;
$btn-3:#114a97;
$bdr:#e4f2ff;

$org:#ff5722;
$blue-gray:#7395a9;
$blue-1:#8396b4;
$blue-2:#4f6284;
$blue-3:#456595;
$blue-4:#2b324f;
$blue-5:#0f85ff;

$green-1:#31aa3a;

$font-10:10px;
$font-11:11px;
$font-12:12px;
$font-13:13px;
$font-15:15px;
$font-20:20px;
$font-22:22px;
$font-26:26px;
$font-28:28px;
$font-30:30px;
$font-32:32px;
$font-34:34px;
$font-36:36px;
$font-40:40px;
$font-50:50px;
$font-60:60px;
$font-65:65px;

