<div class="container" [class.arabic] = "accountService.isArabic()">
    <div class="change-password">
 
        <!-- Header section of the form -->
        <div class="row new-user-sign-form">
            <h1>Change Your Old Password</h1>
            <p>Please enter a new password for your {{email}} account</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3  col-sm-10 col-sm-offset-1 sign-in">
            <div class="row new-user-sign-form">
                <!-- alert success-->
                <div class="alert comen-alert" *ngIf="successMessage">
                    <i class="zmdi zmdi-check-circle"></i>
                    {{successMessage}}
                </div>
                <!-- alert worng-->
                <div class="alert alert-danger" *ngIf="errorMessage">
                    {{errorMessage}}<a *ngIf="forgoturl" class="red-error"  href="{{accountService.getCurrLangUrl()}}forgot-password"> Click here to request a new request. </a>
                </div>
                <!-- reset password form -->
                <form [formGroup]="changePasswordForm">
                    <div>
                        <input type="password" placeholder="New Password" formControlName="password" [class.error-feild]="(changePasswordForm.controls['password'].touched || !(pristineFlag$ | async)) && changePasswordForm.controls['password'].errors">
                        <!-- Alert -->
                        <div  *ngIf="(changePasswordForm.controls['password'].touched || !(pristineFlag$ | async)) && changePasswordForm.controls['password'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                            Please enter a new password
                        </div>
                    </div>
                    <div class="margin-top-5">
                        <input type="password" placeholder="Confirm Password" formControlName="password_confirmation" [class.error-feild]="(changePasswordForm.controls['password_confirmation'].touched || !(pristineFlag$ | async)) && changePasswordForm.controls['password_confirmation'].errors">
                        <!-- Alert -->
                        <div  *ngIf="(changePasswordForm.controls['password_confirmation'].touched || !(pristineFlag$ | async)) && changePasswordForm.controls['password_confirmation'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                            Please confirm your new password
                        </div>
                    </div>
                    <div class="margin-top-10">
                        <button *ngIf="!postDoneFlag"  (click)="changePassword()">
                            <a>Submit</a>
                        </button>
                        <button *ngIf="postDoneFlag" class="disabled_button">
                            <a>Submit</a>
                        </button>
                         <span class="full-widthv3 mg-left-v3"   [routerLink]="[accountService.getCurrLangUrl()+'login']">Cancel</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





