.arabic{
	#emp-jobs .post-table .job-left{
		float: right;
	}
	#emp-jobs .post-table .stand-jobs{
		float: right;
	}
	#emp-jobs .post-table .featu-jobs{
		float: right;
	}
	.arabic-float-none{
		float: none!important;
	}
	.post-table{
		.action-btns{
			a{
				display: inline-block;
			}
		}
	}
	.candi-detail-potion{
		float: right;
	}
	.app-datail{
		.reviewed{
			float: right;
		}
		.applied{
			float: right;
		}
		.successful{
			float: right;
		}
		.unsuccessful{
			float: right;
		}
	}
	.invite .invt{
		float: right;
	}
	.filter-jobs .featured-box .candi-detail-potion .feturd-compny-dtls{
		width: calc(100% - 85px) !important;
	}
	.expected-salary{
		border-left: 0px solid #badcfd;
	}
	.matching-new-application{
		border-right: 1px solid #badcfd;
	}
	.arabic-some{
		h2{
			float: right;
			text-align: right;
			span{
				float: left!important;
				display: inline-block;
				padding-right:10px!important;
			}
		}
	}
	.applicant-pro-detail-area .applicant-profile-image{
		float: right;
		margin-left: 5px;
		margin-right: inherit;
	}
	.applicant-pro-detail-area .invit-egg{
		margin-right: 5px;
	}
	.applicant-pro-detail-area .applicant-profile-matching{
		border-right: 1px solid #f1f1f1;
		border-left: none;
	}
	.applicant-pro-detail-area .applicant-profil-detail p i{
		padding-left: 8px;
		padding-right: 0px;
	}
	#post-job .half-j{
		float: right!important;
	}
	#post-job .half-j3{
		float: right!important;
	}
	#post-job .half-j2{
		float: right!important;
	}
	.skill-title-post{
		float: right!important;
		padding-right: 0px;
		padding-left: 10px;
	}
	#post-job .half-box-post .radio{
		float: right!important;
	}
	.text-st{
		float: right;
		text-align: right;
	}
	#post-job .box-3-equal{
		padding-right: 20px;
		padding-left: 10px;
	}
	.clicks .radio label::before{
		margin-right: -15px;
		margin-left: inherit;
		left: inherit;
		right: 10px!important;
	}

	.clicks .radio label{
		// padding-left:inherit;
		padding-right:14px!important;
	}
	.clicks .radio label::after{
		margin-right: -11px;
		margin-left: inherit;
		left: inherit;
		right: 10px!important;
	}

	.jobapplicant .job-anlytics-info .col-lg-2{
		float: right;
	}
	.matching-new-application{
		border-right:none;
	}
	.jobapplicant .new-list .newlistleft .newlistdp-left{
		float: right;
	}
	.jobapplicant .new-list .newlistleft .newlistdp-right{
		float: right;
	}
	.jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt h2{
		float: right;
		text-align: right!important;
	}
	.half-fix2-v4{
		float: right;
		text-align: right;
		i{
			float: right;
		}
		b{
			float: right;
		}
	}
	.jobapplicant .new-list .newlistleft .newlistdp-right .loc-sec h4{
		margin-right: 10px;
	}
	.jobapplicant .new-list .newlistright{
		float: left;
	}
	.jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt ul li{
		float: left;
		margin-right:3px;
	}
	.bulk-fdb1{
		float: right;
	}
	.bulk-fdb{
		float: right;
	}
	.matching-candidates .block .block-title-2 span{
		width: 100%;
	}
	.jobapplicant .bulk-fdb-sort{
		margin-left: 0px;
	}
	.jobapplicant .bulk-fdb1{
		margin-right: 0px;
	}
	.jobapplicant .jobanalytics .prograss-txt{
		float: right!important;
	}
	.jobapplicant .jobanalytics .prograss-txt-per{
		right: inherit;
		left: 10px;
	}
	.jobapplicant .jobanalytics .job-analytics-gender .job-male .job-male-left{
		float: right;
	}
	.jobapplicant .jobanalytics .job-analytics-gender .job-female .job-male-left{
		float: right;
	}

	// New arabic fix of after merge

	.jobapplicant .left-bx{
		width: calc(100% - 349px) ;
	}
	.jobapplicant .right-bx{
		width: 336px;
	}
	.jobapplicant .job-anlytics-info .col-lg-2 .info{
		height: 90px;
	}
	.last-seen-with-matchingv5{
		left: 147px !important;
		right: inherit!important;
	}
	#communication-applicant .tab-application .nav-tabs{
		margin-right: inherit;
		margin-left: 5px;
	}
	.conta-com-p{
		margin-left: 5px;
		margin-right: inherit;
	}

	.refine-serch .block-title-2 a{
		float: left;

	}
	#post-job .half-j-date{
		margin-right: inherit;
		margin-left: 10px;
	}
	.benefits .benafit-box{
		height: 150px;
	}
	#my-profile input{
		padding-left: 25px;
	}

	.notification-st{
		    float: left;
    		width: 550px;
	}
	#post-job .box-3-equal{
		border-right: 1px solid #f1f1f1;
		border-left:inherit;
	}
	#post-job .sp-pik input{
		border-right: none;
		border-left: 1px solid #e1e1e1;
	}
	.border-left-no{
		border-right:none;
		border-left:1px solid #f1f1f1;
	}
	.bootstrap-select.btn-group .dropdown-toggle .filter-option{
		text-align: right;
	}
	.full-box .bootstrap-select .btn{
		padding: 0px 10px 0px 30px !important;
	}
	.bootstrap-select.btn-group .dropdown-toggle .caret{
		left: 12px!important;
		right: inherit;
	}
	.text-m{
		float: right;
		text-align: right;
	}
	.mce-flow-layout{
		text-align:right!important;
	}
	.block .block-title-2 span{
		// padding-right:5px!important;
	}
	.border-our-jobs{
		a{
			float: none!important;
    		text-align: center!important;
		}
	}

	.jobapplicant .new-list .newlistleft .newlistdp-right .applicant-name-dt h2 strong{
		text-align: right!important;
		float: right;
	}
	.matching-candidates .right-bx{
		width: 100%!important;
	}
	.full-arabic{
		width: 100%!important;
	}
	.jobapplicant .new-list .newlistleft .newlistdp-right .loc-sec h4 i{
		float: right;
	}
	.jobapplicant .new-list .newlistleft .newlistdp-right .loc-sec h4{
		float: right!important;
		width: 100%;
	}
	.new-probability{
		border-left: 1px solid #badcfd;
		border-right: none;
	}
	.job-bloovo{
		.jobapplicant .right-bx{
			width: 336px!important;
		}
		.jobapplicant .left-bx{
			width: calc(100% - 349px);
		}
	}
	.jobs-employer .job-info .col-lg-2{
		height: 110px;
	}
	.bullet ul li{
		margin-right: 15px;
		margin-left: inherit;
		// font-family: $arabic-primary-Fonts!important;
	}
	.opn-cls2{
		span{
			// font-family: $arabic-primary-Fonts;
		}
	}
	.cv-new-fit{
		width: 152px;
		float: right;
		a{
			width: 100%;
		}
	}
	.last-seen-with-matchingv5{
		top: 11px;
	}
	.tag-secton .tagss .tag-main{
		margin-left: 5px;
	}
	#interview-list-all{
		.int-type{
			strong{
				// font-family: $arabic-primary-Fonts;
			}
		}
		.int-detail{
			strong{
				// font-family: $arabic-primary-Fonts;
			}
			ul{
				li{
					grid-template-columns: 160px auto;
				}
			}
		}
		.int-candi-detail{
			 .int-cand-image{
				 margin-left: 10px;
				 margin-right: 0px;
			 }
		}
	}
}
 .arabic .interview-user{
	margin-left: 20px!important;
	margin-right: 0px!important;
}


// responsive

/*---------------------------------------------------1-------------------------------------------------------*/
@media (max-width: 1200px){
	.arabic{
		.full-arabic{
			width: 100%!important;
		}
	}

}

/*---------------------------------------------------2-------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px){
	.arabic{
		.full-arabic{
			width: 100%!important;
		}
		.job-post-box{
			.arabic-mob-float-none{
				float: none!important;
			}
		}

	}

}

/*---------------------------------------------------3-------------------------------------------------------*/
@media (max-width: 767px) {
	.arabic{
		.matching-new-application{
			border-right: none;
		}
		.full-arabic{
			width: 100%!important;
		}
		.applicant-pro-detail-area .invit-egg{
			float: right!important;
		}
		.candi-detail-left .applicant-profile-matching{
			float: left!important;
		}
		.applicant-pro-detail-area .applicant-profil-detail{
			float: right!important;
		}
		.jobapplicant .job-anlytics-info .col-lg-2 .info{
			margin-bottom: 10px;
		}
		.work-experience .work-light{
			float: right;
			width: 100%;
		}
		.work-experience .work-light a{
			float: right;
		}
		#my-profile .left{
			float: right!important;
		}
		.display .social-section .social-media a{
			float: right;
			text-align: right;
		}
		#my-profile .new-fit-profile .display .bt-arabic-pdf {
			float: right;
			width: 100%!important;
		}
		.last-seen-v5{
			margin-top: 10px;
		}
		.new-contact-fit .scrollbar{
			height: 60px;
		    margin-top: 10px;
		    border-top: 1px solid #f1f1f1;
		    padding-top: 10px;
		}
		.arabic .notification-st{
			width: 100%!important;
		}
		#post-job .box-3-equal{
			 padding-right: 0px!important;
		}
		// .tag-new{
		// 	width: 100%;
		// }
		#post-job .half-box-post .light{
			text-align:right;
		}
	}

}
/*---------------------------------------------------4-------------------------------------------------------*/

@media (max-width: 480px) {
	.arabic{
		.matching-new-application{
			border-right: none;
		}
		.full-arabic{
			width: 100%!important;
		}
		.applicant-pro-detail-area .invit-egg{
			float: right!important;
		}
		.candi-detail-left .applicant-profile-matching{
			float: left!important;
		}
		.applicant-pro-detail-area .applicant-profil-detail{
			float: right!important;
		}
		#my-profile .new-fit-profile .display .bt-arabic-pdf {
			float: right;
			width: 100%!important;
		}
	}
}
